<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY BLOGS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <% if(Flag === false){ %>
          <li id="contact"><a href="/register">REGISTER</a></li>
          <li id="contact"><a href="/login">LOGIN</a></li>
          <% } %>
          <% if(Flag === true){ %>
               <li id="contact"><a href="/logout">LOGOUT</a></li>
          <% } %>
          <li id="contact"><a href="/about">ABOUTUS</a></li>

        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
<h1>
</h1>
<p>
    <h3>Compose_the_article</h3>
    <form action = "/" method = "POST">
        <div class = "form-group">
         <lable>Title</lable>
         <input type = "text" class = "form-control" name = "posttitle">
         <label>Post</label>
        <textarea name = "article"  class = "form-control"  rows = "5" cols = "30"></textarea>
        </div>
        <button type = "submit" class = "btn btn-primary">publish</button>
    </form>
    
</p>
<%- include("partials/footer"); -%>

