<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY BLOGS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <% if(Flag === false){ %>
          <li id="contact"><a href="/register">REGISTER</a></li>
          <li id="contact"><a href="/login">LOGIN</a></li>
          <% } %>
          <% if(Flag === true){ %>
               <li id="contact"><a href="/logout">LOGOUT</a></li>
          <% } %>
          <li id="contact"><a href="/about">ABOUTUS</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

<form action = "/login" method = "POST">
    <div class = "form-group">
     <lable>Login</lable>
     <input type = "email" class = "form-control" name = "username">
     <label>Password</label>
    <input type = "password"  class = "form-control" name= "password">
    </div>
    <button type = "submit" class = "btn btn-primary">Login</button>
</form>


<%- include("partials/footer"); -%>